{% extends 'layout.html' %}


{% block content %}

    <div class="container">

        {% if productos %}
            {% for producto in productos  %}

            <div class="productContainer">
                <div class="thumbnail">
                    <img src="{{producto.picture.url}}" alt="">
                </div>

                <div class="action">

                    <p>{{producto.nombre}}</p>

                    <p>${{producto.precio}}</p>

                    {% if user.is_authenticated %}
                    <button value="{{producto.ide}}"><a href="{% url 'agregar_carrito' producto.ide %}">Agregar al carrito</a></button>
                    {% endif %}

                </div>

            </div>

            {% endfor %}
        {% else %}
        <p></p>No hay productos :c</p>
        {% endif %}

    </div>

{% endblock content %}
