{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="col-md-6">
        <div class="feature-box">
            <h1> ¿Quienes somos? </h1>
            <p>En Tienda Verde, ofrecemos productos ecológicos y sostenibles para fomentar un estilo de vida responsable. Promovemos el reciclaje a través de nuestro programa de devolución de envases, ayudando a reducir el impacto ambiental y apoyar una economía circular.</p>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{% static 'image1.png' %}" class="feature-img">
    </div>
{% endblock %}
